{% macro render_field(field) %}
<div>
{% if field.id not in ['submit', 'csrf_token'] and field.type != 'HiddenField' %}
<h5>
    {{ field.label }}
</h5>
{% endif %}

{% if field.type == 'PasswordField' %}
    {{ field(class='form-control', type='password') }}
{% elif field.type == 'TextAreaField' %}
    {{ field(class='form-control text-area') }}
{% elif 'почт' in field.name %}
    {{ field(class='form-control', type='email') }}
{% elif field.type == 'DateField' %}
    {{ field(class='form-control', type='date') }}
{% elif field.type in ['MultipleFileField', 'FileField'] %}
    {{ field(class='form-control', type='file', id=field.name, accept=".jpg, .jpeg, .png, .gif") }}
{% elif field.type in ['IntegerField', 'FloatField'] %}
    {{ field(class='form-control', type='number') }}
{% elif field.type == 'MultiCheckboxField' %}
    {{ field(class='form-check form-control list-unstyled p-2') }}
{% elif field.type == 'SubmitField' %}
    <div class="d-flex m-2">
        {{ field(type="submit", class="btn btn-success m-auto") }}
    </div>
{% else %}
    {{ field(class='form-control')|safe }}
{% endif %}


{% if field.errors %}
    {% for error in field.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}
{% endif %}
</div>
{% endmacro %}

{% macro render_multiply_checkbox(field) %}

<div class="card" style="background-color:#495057">
    <div class="card-header">
        <h5 class="mb-0">{{ field.label }}</h5>
    </div>
    <ul class="card-body" id="{{ field.id }}">
            {% for tuple in field.choices %}
            <li class="form-check"><input class="form-check-input"
                                           type="checkbox"
                                           id="{{ field.id }}-{{ tuple[0] }}"
                                           name="{{ field.id }}"
                                           value="{{ tuple[0] }}">
                <label
                    class="form-check-label"
                    for="{{ field.id }}-{{ tuple[0] }}">{{ tuple[1] }}</label>
            </li>
            {% endfor %}
    </ul>
</div>

{% endmacro %}

{% macro render_buy_submit(game, user) %}

<div class="row align-items-center bg-secondary rounded-3">
{% if game.id|string() in session.get(user.email, []) %}
    <div class="col">
        <a type="button" class="btn btn-info" href="/buy_game">
            Посмотреть в корзине
        </a>
    </div>
{% elif get_usergames(game) %}
    <div class="col">
        <a type="button" class="btn btn-warning" href="/user/1">
            Посмотреть в библиотеке
        </a>
    </div>
{% else %}
    <div class="col p-0">
        <a type="button" class="btn btn-success" id="buy" href="/add_to_cart/{{ game.id }}">
            {% if game.price > 0 %}
                Купить
            {% else %}
                Играть
            {% endif %}
        </a>
    </div>
    <div class="col">
        <p class="card-text m-auto">
            {% if game.price > 0 %}
                {{ game.price }} ₽
            {% else %}
                Бесплатно
            {% endif %}
        </p>
    </div>
{% endif %}
</div>

{% endmacro %}