{% set title = 'Панель администрирования' %}

{% extends 'base.html' %}
{% block content %}

<div class="container d-lg-flex justify-content-lg-center align-items-lg-center flex-column">
    <div class="row">
        <div class="col">
            <div class="card mt-1 mb-1">
                <div class="card-header" style="background: var(--bs-teal);border-style: initial;">
                    <h5 class="mb-0">Создание</h5>
                </div>
                <div class="card-body d-flex" style="background: var(--bs-gray-300);">
                    <a class="card-link btn btn-secondary" href="/game/{{ game_new_id }}/edit">Создать новую игру</a>
                    <a class="card-link btn btn-secondary" href="/developer/{{ dev_new_id }}/edit">Создать нового разработчика</a>
                    <a class="card-link btn btn-secondary" href="/publisher/{{ pub_new_id }}/edit">Создать нового издателя</a>
                </div>
            </div>
            <div class="card mt-1 mb-1">
                <div class="card-header" style="background: var(--bs-purple);border-style: initial;">
                    <h5 class="mb-0">Статистика</h5>
                </div>
                <div class="card-body d-flex" style="background: var(--bs-gray-300);">
                    <a class="card-link btn btn-secondary" href="#">Статистика игр</a>
                    <a class="card-link btn btn-secondary" href="#">Статистика пользователей</a>
                    <a class="card-link btn btn-secondary" href="#">Статистика издателей</a>
                    <a class="card-link btn btn-secondary" href="#">Статистика разработчиков</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}