{% extends 'base.html' %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

{% set img_urls = get_images(game) if game else [] %}

<form class="container text-white" action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div style="background-color: #333" class="p-3">
        {% if avatar_on %}
            <div class="image-holder-avatar-big">
                <img class="image-avatar-big m-auto shadow-lg" id="avatar_url_img" src="{{ form.avatar_url.data }}">
            </div>
        {% elif images_on %}
            <div id="carousel-1" class="carousel slide carousel-fade"
                 data-bs-ride="carousel">
                <ol class="carousel-indicators">
                {% for _ in img_urls %}
                    {% if loop.first %}
                        <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                    {% else %}
                        <li data-bs-target="#carousel-1" data-bs-slide-to="{{ loop.index - 1 }}"></li>
                    {% endif %}
                {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for url in img_urls %}
                        <div class="carousel-item {% if loop.first %} active {% endif %}" id="carousel-item{{ loop.index - 1 }}">
                            <div class="d-flex justify-content-center" style="bottom: 10%;">
                                <button class="btn btn-danger" type="button">
                                    <img src="{{ url_for('static', filename='remove_icon.png') }}" width="15px" height="15px">
                                </button>
                                <label for="file{{ loop.index - 1 }}">
                                    <span class="btn btn-success">
                                        <img src="{{ url_for('static', filename='download_icon.png') }}" width="15px" height="15px">
                                    </span>
                                </label>
                            </div>
                            <img class="w-100 d-block img-fluid" src="{{ url }}" id="image{{ loop.index - 1 }}" alt="Slide Image" />
                            <input class="d-none" type="file" id="file{{ loop.index - 1 }}" name="file{{ loop.index - 1 }}"/>
                        </div>
                    {% endfor %}
                </div>

                <a class="carousel-control-prev" type="button"
                   data-bs-target="#carousel-1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" type="button"
                   data-bs-target="#carousel-1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>

            </div>

            <input type="button" class="btn w-100 btn-success d-lg-table m-auto"
                   id="addBtn" value="Нажмите для добавления элемента или перетащите файлы">
        {% endif %}
        <table class="table text-white" style="max-width: 20em; float:right; background-color: #111">
            {% for field in form %}
            <tr>
                {{ render_field(field) }}
            </tr>
            {% endfor %}
        </table>
</div>
</form>

    {% if images_on %}
        <script type="text/javascript"
            src="{{ url_for('static', filename='js/files.js') }}"></script>
    {% elif avatar_on %}
        <script type="text/javascript"
            src="{{ url_for('static', filename='js/avatar.js') }}"></script>
    {% endif %}
<script>
    preloadImages({{ img_urls|string|safe }});
</script>
{% endblock %}
