{% set title = game.name %}
{% set can_edit = True %}
{% set platforms = get_platforms(game) %}
{% set genres = get_genres(game) %}
{% from "_formhelpers.html" import render_buy_submit %}

{% extends 'base.html' %}
{% block content %}

<div class="container text-white">
    <div style="background-color: #333"><h1>{{game.name}}</h1>
        <table class="table text-white" style="max-width: 20em; float:right; background-color: #111">
            <tr>
                <th scope="row">
                    {{ 'Жанр' if genres|length == 1 else 'Жанры' }}
                </th>
                <td>
                    {% for genre in genres %}
                        {{ genre.name }}{{ ", " if not loop.last else "" }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    {{ 'Платформа' if platforms|length == 1 else 'Платформы' }}
                </th>
                <td>
                    {% for platform in platforms %}
                        <span class="badge bg-primary">{{ platform.name }}</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Разработчик
                </th>
                <td>
                    {{ game.developer.name }}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Издатель
                </th>
                <td>
                    <a href="/publisher/{{ game.publisher.id }}" class="link-warning">
                        {{ game.publisher.name }}
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Дата релиза
                </th>
                <td>
                    {{ game.release_date }}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Рейтинг
                </th>
                <td>
                    {{ game.rating }}
                </td>
            </tr>
        </table>
        <div style="margin-right: 20em">
            <div id="carousel-1" class="carousel slide carousel-fade"
                 data-bs-ride="carousel">
                {% set images = get_images(game) %}
                <ol class="carousel-indicators">
                {% if images|length != 1 %}
                {% for _ in images %}
                    {% if loop.first %}
                    <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                    {% else %}
                    <li data-bs-target="#carousel-1" data-bs-slide-to="{{ loop.index - 1 }}"></li>
                    {% endif %}
                {% endfor %}
                {% endif %}
                </ol>
                <div class="carousel-inner">
                    {% for url in images %}
                    <div class="carousel-item {% if loop.first %} active {% endif %}">
                        <div style="background-color: #111; height:450px; display:flex; justify-content: center">
                            <img src="{{ url }}" alt="..." style="height:inherit">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if images|length != 1 %}
                <a class="carousel-control-prev" type="button"
                   data-bs-target="#carousel-1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" type="button"
                   data-bs-target="#carousel-1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="card-body rounded-10 bg-dark">
            {{ game.description }}
        </div>
</div>

{{ render_buy_submit(game, current_user) }}


{% endblock %}