{% set title = game.name %}
{% set can_edit = True %}

{% extends 'base.html' %}
{% block content %}

<div class="container text-white">
    <div style="background-color: #333"><h1>{{game.name}}</h1>
        <table class="table text-white" style="max-width: 20em; float:right; background-color: #111">
            <tr>
                {% if genres|length == 1 %}
                <th scope="row">
                    Жанр
                </th>
                <td>
                    {{ genres[0].genre.name }}
                </td>

                {% else %}
                <th scope="row">
                    Жанры
                </th>
                <td>
                    {% for genre in genres %}
                    {{ genre.genre.name }}{{ ", " if not loop.last else "" }}
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
            <tr>
                {% if platforms|length == 1 %}
                <th scope="row">
                    Платформа
                </th>
                <td>
                    {{ platforms[0].platform.name }}
                </td>

                {% else %}
                <th scope="row">
                    Платформы
                </th>
                <td>
                    {% for platform in platforms %}
                    {{ platform.platform.name }}
                    {{ ", " if not loop.last else "" }}
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">
                    Разработчик
                </th>
                <td>
                    {{ game.developer.name }}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Издатель
                </th>
                <td>
                    <a href="/publisher/{{ game.publisher.id }}" class="link-warning">
                        {{ game.publisher.name }}
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Дата релиза
                </th>
                <td>
                    {{ game.release_date }}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Рейтинг
                </th>
                <td>
                    {{ game.rating }}
                </td>
            </tr>
        </table>
        <div style="margin-right: 20em">
            <div id="carousel-1" class="carousel slide carousel-fade"
                 data-bs-ride="carousel">
                <ol class="carousel-indicators">
                {% if img_urls|length != 1 %}
                {% for _ in get_images(game) %}
                    {% if loop.first %}
                    <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                    {% else %}
                    <li data-bs-target="#carousel-1" data-bs-slide-to="{{ loop.index - 1 }}"></li>
                    {% endif %}
                {% endfor %}
                {% endif %}
                </ol>
                <div class="carousel-inner">
                    {% for url in img_urls %}
                    <div class="carousel-item {% if loop.first %} active {% endif %}">
                        <div style="background-color: #111; height:450px; display:flex; justify-content: center">
                            <img src="{{ url }}" alt="..." style="height:inherit">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if img_urls|length != 1 %}
                <a class="carousel-control-prev" type="button"
                   data-bs-target="#carousel-1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" type="button"
                   data-bs-target="#carousel-1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="card-body rounded-10 bg-dark">
            {{ game.description }}
        </div>
</div>

{% if usergame %}
    <a href="/user/{{ current_user.id }}" class="btn btn-success float-end m-0">
        Посмотреть в библиотеке
    </a>
{% else %}
<form class="row align-items-center bg-secondary rounded-3 float-end m-0" action="" method="post">
    <div class="col p-0">
        <input type="submit" class="btn btn-success" id="buy" value="{% if game.price > 0 %}Купить{% else %}Играть{% endif %}">

    </div>
    <div class="col">
        <p class="card-text m-auto">
            {% if game.price > 0 %}
                {{ game.price }} ₽
            {% else %}
                Бесплатно
            {% endif %}
        </p>
    </div>
</form>
{% endif %}


{% endblock %}