{% set title = 'Главная страница' %}

{% extends 'base.html' %}
{% block content %}

<div class="container bg-dark">
    <div class="p-2 text-white">
        <div class="card-header bg-dark">
            <h5 class="mb-0">Самый большой рейтинг</h5>
        </div>
        <a href="/game/{{ top_game.id }}" class="text-white">
        <div class="card image-overlay-holder">
            <img class="d-block image-overlay m-auto" src="{{ get_images(top_game)[0] }}">
            <div class="card-img-overlay">
                <h4>{{ top_game.name }}</h4>
                <div id="description">
                    <p>{{ top_game.description }}</p>
                    <div class="platforms-container">
                    {% for platform in get_platforms(top_game) %}
                        <span class="badge bg-primary">{{ platform.name }}</span>
                    {% endfor %}
                    </div>
                    <div class="col flex-grow-0 image-holder-avatar-overlay">
                            <img class="d-lg-flex image-avatar" src="{{ get_images(top_game.publisher) }}">
                    </div>
                    <div class="col flex-grow-0 image-holder-avatar-overlay" style="right: 15%">
                            <img class="d-lg-flex image-avatar" src="{{ get_images(top_game.developer) }}">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
    {% for genre_game in genres_games %}
    <div class="p-2 text-white">
        <div class="card-header bg-dark">
            <h5 class="mb-0">Игры по жанру {{ genre_game['genre'].name }}</h5>
        </div>
        <div class="card-group border-0">
        {% for game_platforms in genre_game['games'] %}
            {% set game = game_platforms['game'] %}
            {% set platforms = get_platforms(game) %}
            <div class="card mw-25 shadow border-secondary">
                <a href="/game/{{ game.id }}" class="image-holder">
                    <img class="img-fluid" src="{{ get_images(game)[0] }}" height="200px">
                </a>
                <div class="card-body bg-dark">
                    <a href="/game/{{ game.id }}" class="link-light nav-link h3 m-0">
                        {{ game.name }}
                    </a>
                    {% for platform in platforms %}
                        <span class="badge bg-primary">{{ platform.name }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class="p-2 text-white d-flex flex-column">
        <div class="card-header bg-dark m-auto">
            <h5 class="mb-0">Издатели</h5>
        </div>
        <div class="bg-dark d-xl-flex justify-content-xl-center align-items-xl-start d-flex flex-column m-auto">
        {% for publisher in publishers %}
            <a href="/publisher/{{ publisher.id }}" class="card mb-3 bg-dark shadow text-decoration-none text-reset" style="max-width: 540px;">
              <div class="row g-0">
                <div class="align-items-center col-md-4 image-holder justify-content-center">
                  <img src="{{ get_images(publisher) }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title bg-warning">{{ publisher.name }}</h5>
                    <p class="card-text">{{ publisher.description }}</p>
                  </div>
                </div>
              </div>
            </a>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}