{% set title = publisher.name %}
{% set can_edit = True %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_multiply_checkbox %}

{% extends 'base.html' %}
{% block content %}

<div class="container bg-dark">
    <div class="row">
        <div class="col flex-grow-0 image-holder-avatar">
            <img class="d-lg-flex image-avatar" src="{{ publisher_img_url }}">
        </div>
        <div class="col">
            <h1 class="text-white">{{ publisher.name }}</h1>
            <ul class="nav shadow-lg" style="background-color:#495057">
                <li class="nav-item"><a class="nav-link active link-light" href="#">О издателе</a>
                </li>
                <li class="nav-item"><a class="nav-link link-light" href="#">Разработчики</a></li>
                <li class="nav-item"><a class="nav-link link-light" href="#">Игры</a></li>
                <li class="nav-item"></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-white">
                <div class="card-header" style="background-color:#343a40">
                    <h5 class="mb-0">О издателе</h5>
                </div>
                <div class="card-body bg-dark">
                    <p class="card-text">{{ publisher.description }}</p>
                </div>
            </div>
            {% if developers %}
            <div class="text-white">
                <div class="card-header" style="background-color:#343a40">
                    <h5 class="mb-0">Разработчики</h5>
                </div>
                <div class="card-body bg-dark">
                    {% for dev in developers %}
                    <div class="row">
                        {% if dev.name != publisher.name %}
                            <div class="col-auto">
                                <div class="image-holder-avatar">
                                    <img class="d-lg-flex image-avatar" src="{{ get_images(dev) }}">
                                </div>
                            </div>
                            <div class="col d-flex m-auto">
                                {{ dev.name }} - {{ dev.description }}
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if genres %}
            <div class="text-white">
                <div class="card-header" style="background-color:#343a40">
                    <h5 class="mb-0">Игры</h5>
                </div>
                <div class="card-body bg-dark">
                    <div class="row">
                        <div class="flex-row text-white">
                        <div>
                        <form action="" method="post" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}

                            {{ render_multiply_checkbox(form.genres) }}

                            {{ render_multiply_checkbox(form.platforms) }}
                            <input type="submit" id="submit" class="w-100 btn btn-info">
                        </form>
                        </div>

                        <div class="col">
                            {% for game in games %}
                            <div class="row" style="padding: 0 0 1em 1em">
                                <div class="mb-5 flex-column align-items-center col-5 d-flex justify-content-between"
                                 style="background-color: #111; height:170px; justify-content: center">
                                    <a href="/game/{{ game.id }}" style="height: inherit">
                                        <img class="img-fluid shadow-lg" src="{{ img_urls_dict[game] }}" style="height: inherit">
                                    </a>
                                    <div class="row align-items-center bg-secondary rounded-3">
                                        <div class="col p-0">
                                            <a type="button" class="btn btn-success" id="buy" href="buy/{{ game.id }}">
                                                {% if game.price > 0 %}
                                                    Купить
                                                {% else %}
                                                    Играть
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="col">
                                            <p class="card-text m-auto">
                                                {% if game.price > 0 %}
                                                    {{ game.price }} ₽
                                                {% else %}
                                                    Бесплатно
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" id="pub_game_description">
                                    <a href="/game/{{ game.id }}" class="nav-link link-light my-1">
                                        <p class="lead">{{ game.name }}</p>
                                    </a>
                                    <p>{{ game.description }}<br><br></p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}